<% @page_header = "Portfolio :: #{@project.title}" %>

<h3><%= @project.title %></h3>
<hr/>
<div class="row">
  <div class="col-md-6">
    <%= image_tag("#{@project.project_image.url}", class: 'img-responsive') %>
  </div>



  <div class="col-md-6">
    <p><%= simple_format @project.description %></p>
  </div>

</div>
