<% @page_header = "Portfolio :: #{@project.title}" %>

<div>
  <div class="col-md-6">
    <%= image_tag("#{@project.project_image.url}", class: 'img-responsive') %>
  </div>



  <div class="col-md-6">
    <h4><%= @project.title %></h4>
    <p><%= simple_format @project.description %></p>
  </div>

</div>
