<section class="banner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://s3.amazonaws.com/cstonehomeimprovement/img/house.jpg" alt="...">
        <!--<div class="carousel-caption">
      <p class="hidden-xs hidden-sm fancyquote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis felis tortor, accumsan a orci at, aliquet faucibus sapien. Fusce rutrum nisl eu posuere gravida. Praesent vulputate augue non libero consequat placerat.</p>
    </div>-->
      </div>



    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</section>