<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">&copy; 2014 C. Stone Home Improvement</div>
      <div class="col-md-6 text-right">Designed by <%= link_to 'Stizelwebs.com', 'http://www.stizelwebs.com' %></div>
    </div>
  </div>
</footer>