<% @page_header = 'Testimonial' %>

<p><%= @testimonial_content.html_safe if @testimonial_content %></p>


<% @testimonials.each do |testimonial| %>
        <p><%= simple_format testimonial.content %></p>
        <p class="text-right"><%= simple_format testimonial.name %></p>
    <hr/>
<% end %>

<%= paginate @testimonials %>